:host {
  display: block;
  min-height: 90vh;
  background-color: rgba(240, 237, 237, 0.404);
}
.containerPrincipal {
  padding: 20px 80px 50px 80px;
}

.clientesTexto {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.paginacao {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: large;
  margin-top: 16px;
  align-items: flex-end;
}

.botaoPaginacao {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  font-size: large;
}

.botaoPaginacao:hover {
  color:#f25c05;
  cursor: pointer;
}

.pagina-atual{
  background-color: #f25c05;
  color: white;
  border-radius: 4px;
}

.pagina-atual:hover {
  color: white
}

@media (max-width: 480px) {
  :host {
    min-height: 92vh;
    width: 100%;
  }

  .containerPrincipal {
    padding: 5px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    margin-right: 10px;
  }

  .clientesTexto {
    font-size: small;
    display: flex;
    align-items: center;
    text-align: end;
    margin-right: 10px;
  }
}
