:host {
  display: block;
  min-height: 100vh;
  background-color: rgba(240, 237, 237, 0.404);
}
.containerPrincipal {
  padding: 20px 80px 50px 80px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.clientesTexto {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 480px) {
  :host {
    min-height: 92vh;
    width: 100%;
  }

  .containerPrincipal {
    padding: 5px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-right: 10px;
  }

  .clientesTexto, .botao {
    margin-left: 10px;
  }
}
