<div class="containerPrincipal" *ngIf="nome">
  <div class="container" >
    <div class="containerIcone">
      <img src="iconeMenu.png" alt="Icone Menu" class="iconeMenu"/>
      <img src="teddyLogo.png" alt="Icone Menu"/>
    </div>
    <div class="menuHorizontal">
      <p class="mr-20"><a routerLink="/dashboard" routerLinkActive="link-ativo" [routerLinkActiveOptions]="{ exact: true }">{{abaClientes}}</a></p>
      <p class="mr-20"><a>{{abaClientesSelecionados}}</a></p>
      <p><a href="/" (click)="sair()">{{abaSair}}</a></p>
    </div>
    <div>
      <p>{{textoBoasVindas}}<strong class="nome">{{this.nome}}</strong></p>
    </div>
  </div>
</div>
<div class="divider"></div>
