
.containerPrincipal {
  padding: 16px 40px 0px 40px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.containerIcone {
  display: flex;
  align-items: center;
}

.iconeMenu {
  width: 24px;
  height: 20px;
  margin-right: 26px;
  cursor: pointer;
}

.menuHorizontal {
  display: flex;
}

.mr-20 {
  margin-right: 20px;
}

.nome {
  text-transform: capitalize;
}

.divider {
  border-bottom: 1px solid rgba(88, 86, 86, 0.377);
}

@media (max-width: 480px) {
  .containerPrincipal {
    width: 50%;
    padding: 16px 40px 0px 20px;
    margin-bottom: 0px;
  }

  .iconeMenu {
    width: 10px;
    height: 10px;
  }

  .logo {
    display: none;
  }

  .menuHorizontal {
    align-items: center;
    text-align: center;
    font-size: x-small;
  }

  .textoBoasVindas {
    margin-left: 25px;
    font-size: x-small;
    text-align: center;
  }
}
