<div class="containerPrincipal" *ngIf="nome">
  <div class="container" >
    <div class="containerIcone">
      <img
        src="iconeMenu.png"
        alt="Icone Menu"
        class="iconeMenu"
        (click)="toggleMenu()"
        (keydown.enter)="toggleMenu()" tabindex="0"/>
      <img src="teddyLogo.png" alt="Icone Menu" class="logo"/>
    </div>
    <div class="menuHorizontal">
      <p class="mr-20">
        <a
          routerLink="/dashboard"
          routerLinkActive="link-ativo"
          [routerLinkActiveOptions]="{ exact: true }">
            {{abaClientes}}
        </a>
      </p>
      <p class="mr-20">
        <a
          routerLink="/clientesSelecionados"
          routerLinkActive="link-ativo"
          [routerLinkActiveOptions]="{ exact: true }">
          {{abaClientesSelecionados}}
        </a>
      </p>
      <p><a href="/" (click)="sair()">{{abaSair}}</a></p>
    </div>
    <div>
      <p class="textoBoasVindas">{{textoBoasVindas}}<strong class="nome">{{this.nome}}</strong></p>
    </div>
  </div>
</div>
<div class="divider"></div>
