/* You can add global styles to this file, and also import other style files */
p, h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: none;
}

.link-ativo {
  color: #f25c05 !important;
  text-decoration: underline;
}

a:visited {
  color: black;
}

a:hover{
  color:#f25c05;
}

body {
  margin: 0;
}

body{
   background-color: rgba(240, 237, 237, 0.404);
}

