body :host{
  margin:0;
  padding: 0;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  border-radius: 0px 25px 0px 0px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 10px;
  background-color: #333333dc;
  border-radius: 0px 25px 0px 0px;
  height: 128px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.logo img {
  width: 120px;
}

.menu {
  display: grid;
  gap: 10px;
  justify-content: space-around;
  justify-items: start;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px;
  padding-right: 21px;
  transition: background 0.2s;
  text-decoration: none;
  font-weight: bolder;
}

.menu-item .material-icons {
  margin-right: 10px;
}

.setaFechar {
  position: absolute;
  left: 217px;
  top: 139px;
  cursor: pointer;
}

.link-ativo {
  width: 100%;
  border-right: 4px solid #f25c05;
  padding-right: 7px;
  .icones {
    filter: invert(48%) sepia(83%) saturate(4995%) hue-rotate(355deg) brightness(102%) contrast(102%);
  }
}
  .selecionados {
    padding-right: 7px;
  }

.icones {
  margin-right: 10px;
  filter: brightness(0) invert(0);
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    height: 60px;
  }

  .setaFechar {
    left: 76px;
    top: 50px;
    img{
      width: 40px;
    }
  }

  .link-ativo {
    width: 78%;
    border-right: 2px solid #f25c05;
  }

  .logo img {
    width: 60px;
  }

  .icones {
    width: 10px;
  }

  .menu-item {
    font-size: x-small;
    font-weight: bolder;
  }

}
